body {
  background: #000;
  color: #eee;
  font-family: monospace;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}
.padding {
  width: 320px;
  margin: 10px auto;
}

form>button {
  margin-left: 220px;
}
button {
  background: #790096;
  padding: 10px;

  width: 100px;
  text-align: center;
  margin: 20px;
  color: #eee;
  font-family: monospace;
}

button:hover {
  background: #590076;
}

label {
  display: block;
  margin-top: 10px;
}

input[type=text] {
  width: 300px;
  padding: 10px;
  background: #111;
  color: #eee;
  font-family: monospace;
}

.success {
  display: block;
  background: #141;
}

.fail {
  display: block;
  color: #411;
}

.hide {
  display: none;
}

h1 img {
  height: 80px;
}

#qr {
  display: block;
  width: 200px;
  margin: 0 auto;
}

#nextup {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 400px;
}

table {
  width: 400px;
}

td>img {
  width: 120px;
  height: 90px;
}


td.videoname {
  width: 200px;
}

td.requester {
  width: 80px;
}

#successMessage {
  margin: 10px auto;
  padding: 10px;
}

